/*font-family: 'Tillana', cursive;
font-family: 'Asul', sans-serif;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	
}
/*ETIQUETAS*/
body{

	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: white;
	font-family: 'Tillana', cursive;
	
	font-size: 30px;
	text-align: right;
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

h2{
	color: 0B396E;
	font-family: 'Tillana', cursive, bold;
	
	font-size: 35px;
	text-align: right;
}



header{

	width: 1000px;
	height: 180px;
	background: rgba(255, 255, 255, 0,5);
}

nav{
	color: 0B396E;
	width: 1000px;
	height: 50px;
	background: rgba(255, 255, 255, 0); 
	background-position: center;
	border-radius: 10px;
}

ul{
	margin: auto;
	padding-top: 4px;
}

li{
	color: black;
	font-family: 'Asul';
	float: left;
	list-style-type: none;
	padding: 10px;
	background: 0b396e;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px black inset;
}


/*CLASES*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: 0B396E; text-decoration: none;}
.menu:visited{color: 0B396E; text-decoration: none;}
.menu:hover{color: 0B396E; text-decoration: none; text-shadow: 0 0 13px 0B396E;}
.menu:active{color: 0B396E; text-decoration: none;}
